*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* cursor: none; */
}
* ::selection{
  color: #EDEDED;
  background-color: #797952;
  mix-blend-mode: difference;
}
html,body{
  background: #0d0d11;
  color: #fff;
  height: 100%;
  width: 100%;
  cursor: none;
  
}
.custom-cursor{
  height: 20px;
  width: 20px;
  background-color: #797952;
  position: fixed;
  border-radius: 50%;
  z-index: 1000;
  /* transition: all ease 0.1s; */
  /* mix-blend-mode: difference; */
}

@media(max-width:480px){
  .custom-cursor{
    display: none;
  }
}
@media(min-width:480px) and (max-width:768px){
  .custom-cursor{
    display: none;
  }
}
